body {
  background-color: skyblue;
}
.image {
  width: 400px;
  height: 400px;
  border-radius: 360px;
  border: 10px solid yellow;
  float: left;
}
.jumbotron {
  background-color: yellow;
  text-align: center;
}
#intro {
  font-size: 20px;
  margin: 100px 5px 5px 10px;
  border: 10px;

  padding: 10px;
}
p {
  font-size: 15px;
}
