body {
  background-color: skyblue;
}
body p {
  font-size: 15px;
}
.image {
  width: 400px;
  height: 400px;
  border-radius: 360px;
  border: 10px solid yellow;
  margin: 25px;
  float: left;
}
.jumbotron {
  background-color: yellow;
  text-align: center;
}
#intro {
  font-size: 20px;
  margin: 140px 5px 5px 10px;
  border: 10px;
  padding: 10px;
}
.strong {
  font-weight: bold;
}
.em {
  font-style: italic;
}
